@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@layer base {
    * {
        box-sizing: border-box;
    }
    html {
        font-family:'Kanit', sans-serif;
        @apply text-white bg-BabyBlueEyes/30 scrollbar-thin scrollbar-thumb-rounded-lg scrollbar-track-transparent scrollbar-thumb-DarkBlueGray;
        @apply overflow-x-hidden scroll-smooth
    }
    h1,h2,h3,h4,h5,h5{
        font-family: 'Shadows Into Light', cursive;
    }
}

@layer components {
    .rotateItem{
        @apply rotate-45 transition duration-300 ease-in
    }
    .divLine{
        @apply border-[3px] w-10 my-1 transform duration-300 ease-out transition
    }
    .input{
        @apply rotate-1 bg-Lavender-Blue/30 rounded-xl focus:border-4 focus:border-DarkBlueGray focus:outline-none focus:ring-0 border-4 border-Blue-Gray text-BlueDarker mt-1 mb-4 w-full h-12 caret-Blue-Gray
    }
    .imageProfile {
        @apply w-11 h-11 xl:w-14 xl:h-14 border -rotate-12 even:rotate-12 rounded-xl cursor-pointer overflow-hidden bg-white/30 
    }
    .square {
        @apply absolute w-4 h-4 rounded-md  bg-Blue-Gray 
    }
    .profileError{
        @apply text-center text-red-500 border-4 border-red-500 p-1 rounded-xl mb-2
    }
}